<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(name="description", content="Administracion de inmobiliarias")

    base(href="http://localhost/")
    
    title #{title}
    
    link(rel="stylesheet", href="../stylesheets/normalize.min.css")
    link(rel="stylesheet", href="../stylesheets/icons.css")
    link(rel="stylesheet", href="../stylesheets/app.css")

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

    script(src="https://code.jquery.com/jquery-1.12.4.min.js")

    //Library create edinsoncs flatui buttons
    script(src="http://ockang.github.io/jquery-flatui/jquery.flat.min.js")

body
  
  include inc/header
  main
    //div.main__Content--Success
     if (messages.info)
      header.Success--Header
        h2.title
          | #{messages}
    section.main__Content
      article.main__Content--Iz
       form.formUploadImage(action="panel/savefotopersonal", method="POST", enctype="multipart/form-data")
        input(type="file" class="uNone" id="img" name="fotosubida")
        figure.Iz--Figure
         if foto 
          img(src="../fotoprofile/#{foto}", alt="",)
          div.Iz--Change
           label(for="img") 
            i.fa.fa-upload
         else
          img(src="http://landestate.com.ar/wp-content/uploads/2014/09/6262664_orig.png")
          div.Iz--Change
           label(for="img") 
            i.fa.fa-upload
        header.Iz--Header
          h2.title
            | #{nombre}
        div.Iz--Submit
          input(type="submit", value="Subir")
      aside.main__Content--De
        form.formularioEdit(action="panel/save", method="POST")
          fieldset.formularioFieldset
            label.formularioFieldset--Label
              | Nombre
            input(type="text", value="#{nombre}", name="name")
          fieldset.formularioFieldset
            label.formularioFieldset--Label
              | Apellidos
            input(type="text", value="#{apellidos}", name="apellidos")
          fieldset.formularioFieldset
            label.formularioFieldset--Label
              | Empresa
            input(type="text", value="#{empresa}", disabled)
          fieldset.formularioFieldset
            label.formularioFieldset--Label
              | Email
            input(type="email", value="#{email}", name="email")
          fieldset.formularioFieldset
            label.formularioFieldset--Label
              | Dni
            input(type="number", value="#{dni}", name="dni")
          fieldset.formularioFieldset
            input(type="submit", style="display:none;", id="enviar")
            label(for="enviar")
              span.linkSave
                | Actualizar
  script(src='../javascripts/buttons.js')



          

  