<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  meta(name="description", content="Administracion de inmobiliarias")
  
  title #{title}
  
  link(rel="stylesheet", href="../../../stylesheets/normalize.min.css")
  link(rel="stylesheet", href="../../../stylesheets/icons.css")
  link(rel="stylesheet", href="../../../stylesheets/app.css")
  link(rel="stylesheet", href="../../../stylesheets/dcalendar.picker.css")

  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

  link(rel="stylesheet", href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css")

  script(src="../../../javascripts/jquery-1.11.2.min.js")
  script(src="../../../javascripts/app-dev1.js")
  script(src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")

  //Library create edinsoncs flatui buttons
  script(src="http://ockang.github.io/jquery-flatui/jquery.flat.min.js")


  //functions create edinsoncs
  script(src="../../../javascripts/thisF.unctions.js")
  script(src="../../../javascripts/dcalendar.picker.js")
  script(src="../../../javascripts/buttons.js")

body
  include inc/header
  main.widthBase.config
   section.config--Base
    header.config--Header
     h2.title
      i(class="fa fa-cog" aria-hidden="true") 
      |  Configuracion de modulos / Email
   section.config--Email
    form.config--Email--Form(action="../savethisemail", method="POST", enctype="multipart/form-data" )
     fieldset.Form--Fieldset
      label.label
       | Logo
      input(type="file", name="logomail")
     fieldset.Form--Fieldset
      label.label
       | Nombre Empresa
      input(type="text", name="nombreEmpresa")
     fieldset.Form--Fieldset
      label.label
       | Dirección Empresa
      input(type="text", name="direccionEmpresa")
     fieldset.Form--Fieldset
      label.label
       | Teléfono Empresa
      input(type="text", name="telEmpresa")
     fieldset.Form--Fieldset
      label.label
       | Email Empresa
      input(type="text", name="emailEmpresa")
     fieldset.Form--Fieldset
      input(type="submit", value="Guardar", class="saveEmail")
    aside.config--Email--Demo
     if emailTemplate
      header.Email--Header
       div.logo(style="background-image: url('../../emails/#{emailTemplate.imagenLogo}');")
       div.description
        div.descriptionLines
        div.descriptionLines
        div.descriptionLines
        div.descriptionLines
         header.descriptionLines--Header
          h2.title
           | #{emailTemplate.nombreEmpresa}

      div.Email--ShowMessage
      div.Email--Footer
       div.Email--Footer--Show
        span.title
         
         | #{emailTemplate.direccionEmpresa}
        span.separed
        
        span.title
        
         | #{emailTemplate.TelefonoEmpresa}
        span.separed
         
        span.title
        
         | #{emailTemplate.emailEmpresa}

     else
      header.Email--Header
       div.logo
       div.description
        div.descriptionLines
        div.descriptionLines
        div.descriptionLines
        div.descriptionLines
      div.Email--ShowMessage
      div.Email--Footer


