<!DOCTYPE html>
html(lang="es")
  head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
      meta(name="description", content="Administracion de inmobiliarias")
      
      base(href="http://localhost/")

      title #{title}
      
      link(rel="stylesheet", href="stylesheets/normalize.min.css")
      link(rel="stylesheet", href="stylesheets/icons.css")
      link(rel="stylesheet", href="stylesheets/app.css")

      link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

      //CDN
      link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css")

      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
      script(src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js")
      script(src="javascripts/app-dev1.js")
      script(src="javascripts/animatedModal.js") 
      script(src="javascripts/jquery.counterup.min.js")

body
  #animatedModal
      .close-animatedModal
        figure.animateClose
          img(src="images/closebt.svg", alt="")
      .modal-content
        header.modal-content--Header
          h2.title
            | Listado de Clientes
        .modal-content--View
           each client in serv
            article.view--Clients
              figure.view--Clients--Image
                img(src="images/businessman.svg", alt="", width="90px")  
              .view--Clients--Name
                p.Name
                  | #{client.nombreInquilino}
                p.Name
                  | #{client.telInquilino}
                p.Name
                  | #{client.emailInquilino} 

        header.modal-content--Header
          h2.title
            | Listado de Propietarios
        .modal-content--View
          each client in serv
            article.view--Clients
              figure.view--Clients--Image
                img(src="images/judge.svg", alt="", width="120px")  
              .view--Clients--Name
                p.Name
                  | #{client.propietarioNombre}
                p.Name
                  | #{client.propietarioTel}
                p.Name
                  | #{client.propietarioEmail}

        header.modal-content--Header
          h2.title
            | Listado de Garantes
        .modal-content--View
          each client in serv
            article.view--Clients
              figure.view--Clients--Image
                img(src="images/man.svg", alt="", width="120px")  
              .view--Clients--Name
                p.Name
                  | #{client.garanteNombre}
                p.Name
                  | #{client.garanteTel}
                p.Name
                  | #{client.garanteEmail}
       
  include inc/header

  section.header__Welcome.widthBase
    header.header__Welcome--Iz
     h2.title
      i(class="fa fa-briefcase", aria-hidden="true")
      |   #{empresa}

    aside.header__Welcome--De
      h2.title.jsAddDate
        | Loading...

  main.widthBase
    section.show__Welcome--Details
      article.Welcome--Iz
        header.Welcome--Header
          h2.title
            | Guia
        div.Welcome--ShowDetails
          video(autoplay lopp class='showVideo', width='100%', height='380px')
            source(src='video/video.mp4', type='video/mp4')
            source(src='video/video.webm', type='video/webm')
       
      article.Welcome--De
        header.Welcome--Header
          h2.title
            | Estado de la cuenta
        div.Welcome--User
          figure.user--Figure
            img(src="http://localhost/images/avatar.jpg", alt="")
          //div.user--Data
            ul.ul
              li.list
                | #{user.nombre}
              li.list
                | #{user.apellidos}
              li.list
                | #{user.empresa}
              li.list
                | #{user.dni}
          div.user--DetailsAccount
            span.showDetails
              | La cuenta de: 
              strong #{user.account.type} meses
            strong.showActive
              | Activo
              
    section.show__Welcome--Data
      article.data__Services
        .data__Services--Cont
          h2.Show 
           | #{serv.length}
        .data__Services--Show
          span.show
           | Propiedades Contratadas

      article.data__Services
        .data__Services--Cont
          h2.Show
           | 0
        .data__Services--Show
          span.show
           | Propiedades Disponibles


      article.data__Services
        .data__Services--Cont
          h2.Show
           | #{serv.length}
        .data__Services--Show
          span.show
           a#demo01(href="#animatedModal")
            | Clientes Contratados


      article.data__Services
        .data__Services--Cont
          h2.Show
           | 0
        .data__Services--Show
          span.show
           | Agenda
    section.show__Welcome--Options
      
      article.Options__Container
        header.options__Container--Header
          h2.title
            | Ultimos pagos
        ul.options__Container--Ul
         each p in serv
          if p.pagos
           each n in p.pagos
            li.listPayment
              span.listPayment--Title
                | Propiedad
                strong.namePropiedad  #{p.nombrePropiedad} 
              span.listPayment--Title
                | Se pago del mes: 
                strong #{n.mesSaldado} 
          
          else 
            figure.figure
              img(src="images/check.svg", alt="", width="200px")
            heder.header
              h2.title No existe ningun pago   
      aside.OptionsAside__Container
        header.options__Container--Header
          h2.title
            | Comunicados
        div.options__Container--Show
          p.description
            | Bienvenidos a zimba, sistema inmobiliario, actualmente usted dispone de todas las funcionalidades de zimba, agregar distintas propiedades, editar sus propiedades, cargar servicios de propiedades
          p.description
            | Cualquier incoveniente no deje en comunicarse con nosotros, estaremos para brindarle el mejor servicio

    
  script.
    jQuery(document).ready(function( $ ) {
      $('.Show').counterUp({
      delay: 10, // the delay time in ms
      time: 1000 // the speed time in ms
      });
      });
  script.
    $("#demo01").animatedModal();
  