<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(name="description", content="Administracion de inmobiliarias")
    
    title #{title}
    
    link(rel="stylesheet", href="../../../stylesheets/normalize.min.css")
    link(rel="stylesheet", href="../../../stylesheets/icons.css")
    link(rel="stylesheet", href="../../../stylesheets/app.css")
    link(rel="stylesheet", href="../../../stylesheets/dcalendar.picker.css")

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css")

    script(src="../../../javascripts/jquery-1.11.2.min.js")
    script(src="../../../javascripts/app-dev1.js")
    script(src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")

    //Library create edinsoncs flatui buttons
    script(src="http://ockang.github.io/jquery-flatui/jquery.flat.min.js")


    //functions create edinsoncs

    script(src="../../../javascripts/dcalendar.picker.js")
body
    include inc/header
    main.widthBase.config
       section.config--Base
        header.config--Header
         h2.title
          i(class="fa fa-cog" aria-hidden="true") 
          |  Pagos
       .paymentContainer
          section.payment
            figure.payment--Figure
             if foto
              img(src="/registers/#{foto}")
             else
              img(src="http://landestate.com.ar/wp-content/uploads/2014/09/6262664_orig.png")
            header.payment--Header
             h2.title
              | #{nombre}
            ul.payment--Ul
             label
              | Servicios Activos
             li.list
              | Propiedades: Activo
             li.list
              | P. Disponibles: Activo
             li.list
              | Agenda: Activo
             li.list
              | Email: Activo
             li.list
              | Ticket: Activo
             li.list
              | Notificaciones: Activo
            ul.payment--Ul
             label
              | Datos de la cuenta
             li.list
              | Registro: #{userComplet.account.fecha}
            if userComplet.account.type == 3 
             div.payment--ExpiredAccount
              h2.title
               | Su cuenta expira el #{userComplet.account.dia} de 
               span.monthExpired(data-month="#{userComplet.account.mes}")
               | 
               script.
                    $(document).ready(function(){
                        function expiredMonth(expired) {
                            var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto",
                        "Septiembre", "Octubre", "Noviembre", "Diciembre"
                    ];
                            var mesExpired = $(expired).attr('data-month');
                            var aummentExpired = Number(mesExpired) + 2;
                            
                            if(aummentExpired == 12) {
                                $(expired).text(meses[0]);
                            } 
                            else if (aummentExpired == 13){
                                 $(expired).text(meses[1]);
                            }
                            else if (aummentExpired == 14){
                                 $(expired).text(meses[2]);
                            }
                            else {
                              $(expired).text(meses[aummentExpired]);
                            }
                          

                        }
                        expiredMonth($(".monthExpired"));
                    });
            else if userComplet.account.type == 6
             div.payment--ExpiredAccount
              h2.title
               | Su cuenta expira el #{userComplet.account.dia} de 
               span.monthExpired(data-month="#{userComplet.account.mes}")
               | 
               script.
                    $(document).ready(function(){
                        function expiredMonth(expired) {
                            var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto",
                        "Septiembre", "Octubre", "Noviembre", "Diciembre"
                    ];
                            var mesExpired = $(expired).attr('data-month');
                            var aummentExpired = Number(mesExpired) + 6;

                            if(aummentExpired == 12){
                              $(expired).text(meses[0]);
                            }
                            else if(aummentExpired == 13) {
                              $(expired).text(meses[1]);
                            }
                             else if(aummentExpired == 14) {
                              $(expired).text(meses[2]);
                            }
                          else if(aummentExpired == 15) {
                              $(expired).text(meses[3]);
                            }
                             else if(aummentExpired == 16) {
                              $(expired).text(meses[4]);
                            }
                          else if(aummentExpired == 17) {
                              $(expired).text(meses[5]);
                            }
                             else if(aummentExpired == 18) {
                              $(expired).text(meses[6]);
                            } else {
                              $(expired).text(meses[aummentExpired]);
                            }


                            //$(expired).text(meses[aummentExpired]);
                        }
                        expiredMonth($(".monthExpired"));
                    });
            else if userComplet.account.type == 12
             div.payment--ExpiredAccount
              h2.title
               | Su cuenta expira el #{userComplet.account.dia} de 
               pan.monthExpired(data-month="#{userComplet.account.mes}")
               | 
               script.
                    $(document).ready(function(){
                        function expiredMonth(expired) {
                            var meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto",
                        "Septiembre", "Octubre", "Noviembre", "Diciembre"
                    ];
                            var date = new Date();
                            var year = date.getFullYear();
                            var newYear = year + 1;
                            var mesExpired = $(expired).attr('data-month');
                            var aummentExpired = Number(mesExpired);
                            $(expired).text(meses[aummentExpired] + ' del ' + newYear);
                        }
                        expiredMonth($(".monthExpired"));
                    });
          aside.typePayment
            article.typePayment--Articl
              header.typePayment--Header
                h3.title
                  i.fa.fa-credit-card
                  |  Pago Online 
                  span.ml
                    | MercadoPago
              div.typePayment--Cont
                img(src='../images/payments.png', width="100%")
                a.linkPayment
                  | Realizar Pago
              

    script(src='../../../javascripts/app.js')
