<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(name="description", content="Administracion de inmobiliarias")
    
    title #{title}
    
    link(rel="stylesheet", href="../../../stylesheets/normalize.min.css")
    link(rel="stylesheet", href="../../../stylesheets/icons.css")
    link(rel="stylesheet", href="../../../stylesheets/app.css")
    link(rel="stylesheet", href="../../../stylesheets/dcalendar.picker.css")

    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css")

    script(src="../../../javascripts/jquery-1.11.2.min.js")
    script(src="../../../javascripts/app-dev1.js")
    script(src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")

    //Library create edinsoncs flatui buttons
    script(src="http://ockang.github.io/jquery-flatui/jquery.flat.min.js")


    //functions create edinsoncs
    
    script(src="../../../javascripts/dcalendar.picker.js")
body
    include inc/header
    main.widthBase.config
       section.config--Base
        header.config--Header
         h2.title
          i(class="fa fa-cog" aria-hidden="true") 
          | Ticket / Support
       section.support
        if mensaje
          article.supportShow
           header.supportShow--Header
             figure.showHeader--Iz
               img(src="/fotoprofile/#{mensaje.foto}", alt="")
             aside.showHeader--De
              h2.title
               | #{mensaje.name}
             div.showHeader--Date
               strong.createDate
                | #{mensaje.fecha}
           div.supportShow--Data
             strong.showAssunt
               | Asunto: #{mensaje.asunto}
             p.show
               |#{mensaje.mensaje}
        else
         //

        if mensaje.respuesta
         each n in mensaje.respuesta
          article.supportShow
           header.supportShow--Header
             figure.showHeader--Iz
               img(src="/fotoprofile/#{n.foto}", alt="")
             aside.showHeader--De
              h2.title
               | #{n.name}
             div.showHeader--Date
               strong.createDate
                | #{n.fecha}
           div.supportShow--Data
             strong.showAssunt
               | Asunto: #{n.asunto}
             p.show
               |#{n.mensaje}

        article.supportShow
          header.supportNotShow--Header
            h2.title
              | Responder
          form.supportSend(action="../../sendticket", method="POST")
           input(type="hidden", name="is_type", value="admin")
           input(type="hidden", name="idticket", value="#{mensaje.id}")
           input(type="hidden", name="iduser", value="#{mensaje.iduser}")
           textarea(name="mensaje", cols="30", rows="2")
           input(type="submit", value="Responder")
      
    script(src='../../../javascripts/app.js')