<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  meta(name="description", content="Administracion de inmobiliarias")
  
  title #{title}
  
  link(rel="stylesheet", href="../../../stylesheets/normalize.min.css")
  link(rel="stylesheet", href="../../../stylesheets/icons.css")
  link(rel="stylesheet", href="../../../stylesheets/app.css")
  link(rel="stylesheet", href="../../../stylesheets/dcalendar.picker.css")

  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

  link(rel="stylesheet", href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css")

  script(src="../../../javascripts/jquery-1.11.2.min.js")
  script(src="../../../javascripts/app-dev1.js")
  script(src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")

  //Library create edinsoncs flatui buttons
  script(src="http://ockang.github.io/jquery-flatui/jquery.flat.min.js")


  //functions create edinsoncs

  script(src="../../../javascripts/dcalendar.picker.js")

body
  header.header__Site
    .header__Site--Container
      figure.header__Site--Iz
        h1.title Zimba
      nav.header__Site--De
        ul.ul
          li.list
            a.tolink(href="../../../panel")
              i(class="fa fa-home" aria-hidden="true")
              | Inicio
          li.list.selectItem
            a(href="../../../panel/propiedades", class="tolink")
              i(class="fa fa-folder-open" aria-hidden="true")
              | Propiedades
          li.list
           a.tolink(href="../../../panel/config") 
            i(class="fa fa-cog" aria-hidden="true")
            | Config
        div.header__User
          figure.header__UserFigure
            img(src="../../../images/avatar.jpg", alt="#{nombre}")
          div.header__ShowData.jsDownShow
            span
              | #{nombre}
            .header__ShowData--SubMenu
              ul.ul.jsDown.uNoneDisplay
                li.listSub
                  a.link(href="panel")
                    |Panel
                li.listSub
                  a.link(href="panel/edit")
                    |Editar mi perfil
                li.listSub
                  a.link(href="#")
                    | Salir
  section.header__Welcome.widthBase
    header.header__Welcome--Iz
     ul.ul
      li.list
       a.link(href="#")
        i(class="fa fa-briefcase", aria-hidden="true") 
        |  #{empresa} 
      li.list
       span.break /
      li.list
       a.link.actuality(href="../../propiedades")
        | Propiedades
      li.list
       span.break /
      li.list
       a.link.actuality(href="#")
        | #{propiedad.nombrePropiedad}
    aside.header__Welcome--De
      h2.title.jsAddDate
        | Loading...
  main.widthBase.view
   div.view--NotifyBG
   section.view--Notify
    form.formNotify(action="../../notificaciones", method="POST")
      input(type="hidden", value="#{propiedad.id}", name="isID")
      fieldset.formNotify__Fieldset
        input(type="email", value="#{propiedad.emailInquilino}", name="isMail", required)
      fieldset.formNotify__Fieldset
        input(type="text", placeholder="Asunto", name="isAsunt", required)
      fieldset.formNotify__Fieldset
        textarea(cols="30", rows="10", placeholder="mensaje de notificacion", name="isMessage", required)
      fieldset.formNotify__Fieldset
        input(type="submit", value="Notificar")
   section.view--Pagos
    form.formPagos(action="../../pagos", method="POST")
      input(type="hidden", value="#{propiedad.id}", name="isID")
      fieldset.formPagos__Fieldset
        label.formPagos__Fieldset--Label
          | Inquilino
        input(type="text", value="#{propiedad.nombreInquilino}", name="isNameInquilino")
      fieldset.formPagos__Fieldset
        label.formPagos__Fieldset--Label
          | Precio
        input(type="text", value="#{propiedad.precioMensual}", name="isPrecioPropiedad")
      fieldset.formPagos__Fieldset
        label.De--Label
          | Mes
        select(name="isMonthPayment")
            option(value="Enero")
              | Enero
            option(value="Febrero")
              | Febrero
            option(value="Marzo")
              | Marzo
            option(value="Abril")
              | Abril
            option(value="Mayo")
              | Mayo
            option(value="Junio")
              | Junio
            option(value="Julio")
              | Julio
            option(value="Agosto")
              | Agosto
            option(value="Septiembre")
              | Septiembre
            option(value="Octubre")
              | Octubre
            option(value="Noviembre")
              | Noviembre
            option(value="Diciembre")
              | Diciembre
      div.formPagos__Fieldset--Flex
        div.fieldset--Flex--Iz
          label.Iz--Label(for="efectivo", class="cursorPointer")
            | Effectivo
          input(type="checkbox", value="efectivo" name="typePayment", id="efectivo", class="uNoneDisplay")
          div.circleCheckbox
        div.fieldset--Flex--Center
          label.Center--Label(for="deposito", class="cursorPointer")
            | Deposito
          input(type="checkbox", value="deposito" name="typePayment", id="deposito", class="uNoneDisplay")
          div.circleCheckbox
      fieldset.formPagos__Fieldset
        label.Fieldset--Label
          | Comentarios
        textarea(name="comentarios", cols="10", rows="1.5")
      fieldset.formPagos__Fieldset
        input(type="submit", value="Cobrar")
   section.view--Calendar
   section.view--Iz
    header.view--Iz--Top
     h2.title
      | #{propiedad.nombrePropiedad}
     ul.itemsProperty
      li.list
        a.link.btn.btn--Print(href="#")
          i.fa.fa-print(title="Imprimir")
          |  Imprimir
      li.list
        a.link.btn.btn--Notify(href="#")
          i.fa.fa-bell(aria-hidden="true")
          |  Notificar
      li.list
        a.link.btn.btn--Ticket(href="#")
          i.fa.fa-usd(aria-hidden="true")
          |  Cobrar
    div.view--Iz--SubMenu
      ul.subMenu--Ul
        li.list
          a(class="link", href="../notify/#{propiedad.id}")
           | Notificaciones
        li.list
          a.link(href="../pagos/#{propiedad.id}", class="link")
            | Pagos
        li.list
          a.link(href="", class="link")
            | Calendario
        li.list
          a.link(href="", class="link")
            | 
          
    div.view--Iz--Info
      header.view--Iz--Info--Header
        h2.title
          | Contrato Mensual
      article.view--Iz--Articls
        div.Articls--Iz
          span.titleNames
            i.fa.fa-money(aria-hidden="true")  
            |  Mensual:
            strong 
             | $#{propiedad.precioMensual}
        div.Articls--De
         span.titleNames
          i.fa.fa-calendar-plus-o(aria-hidden="true") 
          |  Ingreso:
          | #{propiedad.contratoInicia}
         span.titleNames
          i.fa.fa-calendar-plus-o(aria-hidden="true") 
          |  Finaliza:
          | #{propiedad.contratoFinaliza}
    div.view--Iz--Info
     header.view--Iz--Info--Header
      h2.title
       | Datos Inquilino
     article.view--Iz--Articls
      div.Articls--Iz
       span.titleNames
        i.fa.fa-user(aria-hidden="true") 
        |  Inquilino:
        | #{propiedad.nombreInquilino}
      div.Articls--De
       span.titleNames
        i.fa.fa-phone-square(aria-hidden="true") 
        |  Teléfono:
        | #{propiedad.telInquilino}
     article.view--Iz--Articls
      div.Articls--Iz
       span.titleNames
        i.fa.fa-file(aria-hidden="true") 
        |  Dni:
        | #{propiedad.dniInquilino}
      div.Articls--De
       span.titleNames
        i.fa.fa-envelope(aria-hidden="true") 
        |  Email:
        | #{propiedad.emailInquilino}
    div.view--Iz--Info
      header.view--Iz--Info--Header
        h2.title
          | Datos Garante
      article.view--Iz--Articls
        div.Articls--Iz
          span.titleNames
            i.fa.fa-user(aria-hidden="true") 
            |  Garante:
            | #{propiedad.garanteNombre}
        div.Articls--De
          span.span.titleNames
            i.fa.fa-phone-square(aria-hidden="true") 
            |  Teléfono:
            | #{propiedad.garanteTel}
      article.view--Iz--Articls
        div.Articls--Iz
         span.titleNames
          i.fa.fa-file(aria-hidden="true") 
          |  Dni:
          | #{propiedad.garanteDni}
        div.Articls--De
         span.titleNames
          i.fa.fa-envelope(aria-hidden="true") 
          |  Email:
          | #{propiedad.garanteEmail}
      article.view--showOne--Details
        div.showOne
          span.titlesNames
           i.fa.fa-map-marker(aria-hidden="true") 
           |  Domicilio:
           | #{propiedad.garanteDomicilio}
    
    div.view--Iz--Info
      header.view--Iz--Info--Header
        h2.title
          | Datos Propietario
      article.view--Iz--Articls
        div.Articls--Iz
          span.titleNames
            i.fa.fa-user(aria-hidden="true") 
            |  Propietario:
            | #{propiedad.propietarioNombre}
        div.Articls--De
          span.span.titleNames
            i.fa.fa-phone-square(aria-hidden="true") 
            |  Teléfono:
            | #{propiedad.propietarioTel}
      article.view--Iz--Articls
        div.Articls--Iz
         span.titleNames
          i.fa.fa-file(aria-hidden="true") 
          |  Dni:
          | #{propiedad.propietarioDni}
        div.Articls--De
         span.titleNames
          i.fa.fa-envelope(aria-hidden="true") 
          |  Email:
          | #{propiedad.propietarioEmail}
      article.view--showOne--Details
        div.showOne
          span.titlesNames
           i.fa.fa-map-marker(aria-hidden="true") 
           |  Domicilio:
           | #{propiedad.propietarioDomicilio}

    
    div.view--Iz--Info
        header.view--Iz--Info--Header
          h2.title
            | Garantia
        article.view--Iz--Files
          embed(src="../../../files/#{propiedad.garanteFile}#zoom=50&scrollbar=1&toolbar=1&navpanes=1", width="100%", height="500px" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html", type="application/pdf", trusted="yes" application="yes" title="#{propiedad.nombrePropiedad}")
    div.view--Iz--Info
        header.view--Iz--Info--Header
          h2.title
            | Contrato
        article.view--Iz--Files
          embed(src="../../../files/#{propiedad.contrato}#zoom=50&scrollbar=1&toolbar=1&navpanes=1", width="100%", height="500px", pluginspage="http://www.adobe.com/products/acrobat/readstep2.html", type="application/pdf", trusted="yes", )
   aside.view--De
    div.view--De--Top
      a.link.btn.btn--Notify
        i.fa.fa-bell(aria-hidden="true")
        |  Notificar
      a.link.btn.btn--Calendar
        i.fa.fa-calendar-check-o(aria-hidden="true") 
        |  Calendario
      a.link.btn.btn--Ticket
        i.fa.fa-usd(aria-hidden="true")
        |  Cobros
    div.view--De--ShowDeudas
      header.showDeudas--Header
        h2.title
          | Cuenta Corriente
      div.showDeudas--Container
       h3.title
        | $#{propiedad.cuentaCorriente}
      
    div.view--De--ShowNotify
      if propiedad.notificaciones
        header.header--ShowNotify
          h2.title
            | Notificaciones enviadas
        ul.container--ShowNotify
           each nt in notify
            li.list--ShowNotify
             i.fa.fa-bell(aria-hidden="true")
             span.ShowNotify--Int
              | #{nt.asunto}
             span.ShowNotify--Int
             strong
               |  #{nt.fecha}
        div.container--LinkVerMas
          a.link(href="../notificaciones/#{propiedad.id}")
            | Ver Completo
      else
         div.showMessageNotAll
          header.showMessageNotAll--Header
            h2.title
              | Esta propiedad no </br>tiene notificaciones
    
    div.view--De--ShowPagos
      if propiedad.pagos
        header.header--ShowPagos
          h2.title
            | Pagos emitidos
        ul.container--ShowPagos
         
           each p in isPagos
            li.list--ShowPagos
              i.fa.fa-usd(aria-hidden="true")
              span.ShowPagos--Int
                |  Se pago del mes de 
                strong.ShowPagos--Mes
                 | #{p.mesSaldado}
                 - var date = p.fecha
                |  del #{date.getFullYear()}
              strong.ShowPagos--Int
                |  $#{p.importe}
        div.show--SumDetails
          a.link(href="../payments/#{propiedad.id}")
           | Ver Completo 

       else

        div.showMessageNotAll
          header.showMessageNotAll--Header
            h2.title
              | Esta propiedad no </br>tiene pagos      
    div.view--De--ShowCuentaCorriente
      if cuentaC
        header.header--ShowPagos
          h2.title
            | Pagos en total
        ul.container--ShowPagos
           
            li.list--ShowPagos
              span.ShowPagos--Int
                |  Se pago 
                strong.ShowPagos--Mes
                 if cuentaC.length > 1
                   | #{cuentaC.length} meses 
                   - var total = 0
                   - var arr = []
                   | y se obtuvo $
                   each dineroTotal in cuentaC
                    - var number = total += Number(dineroTotal.importe)
                    - arr.push(number)
                    - var reco = Number(cuentaC.length) - 1
                     | #{arr[reco]}
                 else
                   | #{cuentaC.length} mes y se obtuvo $#{cuentaC[0].importe}
             
      else
        div.showMessageNotAll
          header.showMessageNotAll--Header
            h2.title
              | Esta propiedad no </br>tiene pagos total
    

  script(src='../../../javascripts/app.js')
  script(src='../../../javascripts/buttons.js')
