<!DOCTYPE html>
html(lang="es")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  meta(name="description", content="Administracion de inmobiliarias")

  base(href="http://localhost/")

  title #{title}
  
  link(rel="stylesheet", href="../../../stylesheets/normalize.min.css")
  link(rel="stylesheet", href="../../../stylesheets/icons.css")
  link(rel="stylesheet", href="../../../stylesheets/app.css")
  link(rel="stylesheet", href="../../../stylesheets/dcalendar.picker.css")

  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic', rel='stylesheet', type='text/css')

  link(rel="stylesheet", href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css")

  script(src="../../../javascripts/jquery-1.11.2.min.js")
  script(src="../../../javascripts/app-dev1.js")
  script(src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js")

  //Library create edinsoncs flatui buttons
  script(src="http://ockang.github.io/jquery-flatui/jquery.flat.min.js")


  //functions create edinsoncs

  script(src="../../../javascripts/dcalendar.picker.js")

body
  include inc/header
  section.header__Welcome.widthBase
    header.header__Welcome--Iz
     ul.ul
      li.list
       a.link(href="#")
        i(class="fa fa-briefcase", aria-hidden="true") 
        |  #{empresa} 
      li.list
       span.break /
      li.list
       a.link.actuality(href="../../disponibles")
        | Propiedades Disponibles
      li.list
       span.break /
      li.list
       a.link.actuality(href="#")
        | #{propiedad.nombre}
    aside.header__Welcome--De
      h2.title.jsAddDate
        | Loading...
  main.widthBase.view
   div.view--NotifyBG
   include inc/paymentandcobrar
   section.view--Calendar
   section.view--Iz
    header.view--Iz--Top.uMargin
     h2.title
      | #{propiedad.nombrePropiedad}
     ul.itemsProperty
      li.list
        a.link.btn.btn--Print
          i.fa.fa-print(title="Imprimir")
          |  Imprimir
      
    div.view--Iz--Info
     header.view--Iz--Info--Header
      h2.title
       | Propiedad
     article.view--Iz--Articls
      div.Articls--Iz
       span.titleNames
        i.fa.fa-user(aria-hidden="true") 
        |  Nombre:
        br
        | #{propiedad.nombre}
      div.Articls--De
       span.titleNames
        i.fa.fa-phone-square(aria-hidden="true") 
        |  Descripcción:
        br
        | #{propiedad.description}
     article.view--Iz--Articls
      div.Articls--Iz
       span.titleNames
        i.fa.fa-file(aria-hidden="true") 
        |  Barrio:
        | #{propiedad.barrio}
      div.Articls--De
       span.titleNames
        i.fa.fa-envelope(aria-hidden="true") 
        |  Email:
        | #{propiedad.emailpropietario}

    div.view--Iz--Info
     header.view--Iz--Info--Header
      h2.title
       | Datos Propietario
     article.view--Iz--Articls
      div.Articls--Iz
       span.titleNames
        i.fa.fa-user(aria-hidden="true") 
        |  Inquilino:
        | #{propiedad.propietario}
      div.Articls--De
       span.titleNames
        i.fa.fa-phone-square(aria-hidden="true") 
        |  Teléfono:
        | #{propiedad.telpropietario}
     article.view--Iz--Articls
      div.Articls--Iz
       span.titleNames
        i.fa.fa-file(aria-hidden="true") 
        |  Dni:
        | #{propiedad.dnipropietario}
      div.Articls--De
       span.titleNames
        i.fa.fa-envelope(aria-hidden="true") 
        |  Email:
        | #{propiedad.emailpropietario}
    
   

  script(src='../../../javascripts/app.js')
  script(src='../../../javascripts/buttons.js')
